name: Rust
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: build
      run: cargo build --verbose
    - name: test
      run: cargo test --verbose
    - name: fmt
      run: cargo fmt --verbose
    - name: clippy
      run: cargo clippy --verbose
